{% extends "layout/command.md.jinja" %}
{% block command %}{{ command }}{% endblock %}
{% block content %}
What is it for?
---
Using `git add` will allow you to add files to the repository.


Example 1: No options, default values.
---
```
{%- for item in example['1'] %}
{{ item }}
{%- endfor %}
```
{% endblock %}