git {% block command %}{% endblock %}
===

Offical documentation for [git-{{ command}}](https://git-scm.com/docs/git-{{ command}}/{{ version }}).

This commmand accepts {{ items | length }} options:


| No | Option | Description |
| -- | ------- | ----------- |
{% for item in items -%}
| {{ loop.index }} | {{ item }} | {{ items[item] }} |
{% endfor %}

{% block content %}{% endblock %}
