<!DOCTYPE html>
<html lang="en">

<head>
  <title>Learning git - Intro</title>
</head>

<body>
  <div>
    I wanted to learn more about git.
  </div>
  <div>
    Technologies:
    <ul>
      <li>git - <code>{{ git }}</code>
      <li>docker - <code>{{ docker_version }}</code>: to run gitlab that contains the latest git version or the latest that gitlab deems stable.</li>
      <li>python - <code>{{ python_version }}</code>: to run these tools:</li>
      <ul>
        <li>Jinja2 - <code>{{ jinja2_version }}</code>: to generate template.</li>
      </ul>
      <li>nodejs - <code>{{ nodejs_version }}</code>: to run these tools:</li>
      <ul>
        <li>js-beautify - <code>{{ js_beautify_version }}: it contains html-beautify.</li>
      </ul>
      <li>Bootstrap - <code>{{ bootstrap_version }}</code>: for the use interface.</li>
    </ul>
  </div>

</body>

</html>